body{
	margin: auto;
	font-family: 'Open Sans';
	width: 1588px;
}

#all{
	width: 65%;
	margin: auto;
}

#bouton1,.follow1,.follow2,.follow3,.tag{
	font-family: 'Roboto';
}

/*header*/

header{
	border-bottom: 1px solid #e8e8e8;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

object{
	width: 35px;
	margin-left: 17.5%;
}

#bouton1{
	margin-right: 17.5%;
	display: flex;
	flex direction: row;
}

header p {
	color: purple;
	margin-left: 12px;
	padding: 8px 15px;
	font-size: 15px;
}

.get_started{
	border: 1px solid purple;
	border-radius: 5px;
}

/* nav */

nav{
	display: flex;
	flex-direction: row;
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
	margin-bottom: 50px;
}

nav ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 40%;
	padding: 0;
	margin-left: 30px;
}

nav li{
	text-align: center;
	color: grey;
	font-size: 15px;
}

nav img{
	width: 9%;
	height: 9%;
	margin-left: 17.5%;
	padding-top: 5px;
}


/* titre de la page */

.title_page_follow {
	width: 65%;
	height: 300px;
	margin: auto;
}

.title_page_follow h1{
	font-family: 'EB Garamond', serif;
	color: #252525;
	font-size: 46px;
	font-weight : normal;
	margin-bottom:0;			/*suprrimer l'espace entre titre et sous titre*/
}

.title_page_follow h2{
	color: #686868;
	font-size: 20px;
	font-weight: normal;
	margin-top:0;				/*suprrimer l'espace entre titre et sous titre*/
}


/* Harry */

.harry_follow{
	display: flex;
	flex-direction: row;
}

.harry_follow img{
	width: 60px;
	height: 60px;
	border-radius: 30px;
	margin-right: 15px;
}

.harry_follow p{
	margin: 0;
	margin-right: 20px;
}

.jul2{
	color: grey;
}

.follow1{
	text-align: center;
	width: 10%;
	height: 20px;
	font-size: 15px;
	color: purple;
	border: 1px solid purple;
	border-radius: 4px;
}

/* image du lac */

.paradise {
	width: 100%;
	display: block;
	margin: auto;
}

 .legende{
 	text-align: center;
 	font-size: 15px;
 	color: grey;
 	margin: 0;
 	margin-bottom: 50px;
 }

/* aside */

aside{
	width: 12%;
	font-size: 14px;
	float: left;
}

aside .paragraph_aside{
	margin: 0;
	color: #686868;;
}

aside h2{
	margin: 0;
	font-size: 18px;
	margin-bottom: 10px;
}

aside .follow2{
	padding: 6px 0px;
	width: 70px;
	text-align: center;
	color: purple;
	border: 1px solid purple;
	border-radius: 8px;
}

aside .aside_onezero{
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 30px;
}

aside .icons{
	margin-top: 30px;
	width: 10%;
}

aside .icons p{
	position: relative;
	bottom: 225px;
	left: 40px;
}

aside .icons img{
	width: 30px;
	height: 30px;
	margin-bottom: 20px;
}

/* milieu de page: les paragraphes*/

main{
	width: 68%;
	margin: auto;
}

article .Y{
	font-style: normal;
	float: left;
	font-weight: bold;
	color: white;
	font-size: 50px;
	padding: 40px;
	margin: 0px 15px;
	background-color: black;
	border-radius: 200px;
}

article p {
	font-size: 18px;
	line-height: 30px;
}

article a {
	text-decoration : underline; 
}

article em{
	font-style: normal;
	font-weight: bold;
}

article span{
	display: block;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 23px;
	width: 85%;
	line-height: 45px;
	font-style: italic; 
}

/* les tags */
 
.tag{
	display: flex;
	flex-direction: row;
	padding-bottom: 20px;
	border-bottom: 1px solid #e8e8e8;
}

.tag p{
	text-align: center;
	background-color: #eaeaea;
	color: #212121;
	font-size: 14px;
	border: 1px solid #eaeaea;
	border-radius: 3px;
	padding: 6px;
	margin-right: 10px;
}

/* harry guinness et OneZero */

.harry_onezero{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.harry_and_oz{
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	width: 47%;
}

.harry_and_oz img{
	width: 60px;
	height: 60px;
	margin-right: 20px;
}

.harry_and_oz .harry{
	border-radius: 100px;
}

.harry_and_oz .oz{
	border-radius: 5px;
}

.description{
	width: 200px;
}

.description h2{
	font-size: 18px;
	margin: 0px 0px 5px 0px;
}

.harry_and_oz p {
	margin: 0;
	font-size: 15px;
}

.harry_and_oz .member{
	color: grey;
	margin-bottom: 5px;
}

.harry_and_oz .follow3{
	width: 85px;
	height: 15px;
	padding: 8px 0px;
	text-align: center;
	font-size: 14px;
	color: purple;
	border: 1px solid purple;
	border-radius: 5px;	
}

/* Footer */

footer{
	background-color: #eaeaea;
	margin-top: 40px;
}

.footer{
	padding-top: 40px;
	padding-bottom: 60px;
	background-color: #eaeaea;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-around;
	width: 68%;
}

.footer div{
	width: 340px;
	background-color: white;
	border-radius: 7px 7px 0px 0px;
	box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.16);
	padding-bottom: 30px;
}

.footer img{
	width: 100%;
	border-radius: 7px 7px 0px 0px;
}

.footer h2{
	font-size: 15px;
}

.footer p{
	font-size: 13px;
	color: grey;
}

.footer p, .footer h2{
	margin-left: 15px;
}
