body{
	margin: auto;
	font-family: 'Open Sans';
}

.all{
	width: 80%;
	margin: auto;
}

/*header*/

header{
	border-bottom: 1px solid grey;
	padding-top: 3px;
	padding-bottom: 3px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


object{
	width: 40px;
	margin-left: 10%;
}

#bouton1{
	margin-right: 10%;
	display: flex;
	flex direction: row;

}

header p {
	color: purple;
	margin-left: 30px;
	padding: 10px;

}
.get_started{
	border: 1px solid purple;
	border-radius: 5px;
}


/* nav */

nav{
	display: flex;
	flex-direction: row;
	box-shadow: 0px 10px 9px -14px rgba(0,0,0,0.75);
	margin-bottom: 45px;
}

nav ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 40%;
	padding: 0;
	margin-left: 30px;


}

nav li{
	text-align: center;
	color: grey;
	font-size: 16px;

}

nav img{
	width: 160px;
	height: 48px;
	margin-left: 20%
}


/* titre de la page */

.titre_page {
	width: 65%;
	height: 350px;
	margin: auto;


}

.titre_page h1{

	font-size: 45px;
	font-weight : normal;
	margin-bottom:0;			/*suprrimer l'espace entre titre et sous titre*/
}

.titre_page h2{
	color: #686868;
	font-size: 24px;
	font-weight: normal;
	margin-top:0;				/*suprrimer l'espace entre titre et sous titre*/
}

.titre_page img{
	width: 60px;
	height: 60px;
	border-radius: 30px;
}

/* Harry */


.harry_guiness{
	position: relative;
	bottom: 76px;
	left: 70px;
}

.jul2{
	position: relative;
	bottom: 130px;
	left: 70px;
	color: grey;
}

.follow{
	text-align: center;
	width: 10%;
	position: relative;
	bottom: 115px;
	left: 210px;
	color: purple;
	border: 1px solid purple;
	border-radius: 8px;
}

/* image du lac */

.paradise {
	width: 100%;
	display: block;
	margin: auto;
}

 .legende{
 	text-align: center;
 	font-size: 15px;
 	color: grey;
 	margin: 0;
 	margin-bottom: 50px;
 }

/* aside */

aside{
	width: 15%;
	font-size: 14px;
	float: left;
}

aside .paragraphe_aside{
	margin: 0;
	color: #686868;;
}

aside h2{
	margin: 0;
	font-size: 18px;
	margin-bottom: 10px;
}

aside .follow2{
	padding: 6px 0px;
	width: 70px;
	text-align: center;
	color: purple;
	border: 1px solid purple;
	border-radius: 8px;	
}

/* milieu de page: les paragraphes*/

main{
	width: 65%;
	margin: auto;
}

article .Y{
	font-style: normal;
	float: left;
	font-weight: bold;
	color: white;
	font-size: 50px;
	padding: 40px;
	margin: 0px 15px;
	background-color: black;
	border-radius: 200px;

}

article p {
	font-size: 18px;
	line-height: 30px;
}

article a {
	text-decoration : underline; 
}

/* les tags */
 
.tag{
	display: flex;
	flex-direction: row;
	padding-bottom: 20px;
	border-bottom: 1px solid grey;

}

.tag p{
	text-align: center;
	background-color: #eaeaea;
	color: #212121;
	font-size: 14px;
	border: 1px solid #eaeaea;
	border-radius: 3px;
	padding: 10px;
	margin-right: 30px;
}

/* harry guinness et OneZero */

.harry_onezero{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.onezero{
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	width: 43%;
}

.onezero img{
	width: 60px;
	height: 60px;
	margin-right: 20px;
}

.sous_titre h2{
	font-size: 18px;
	margin: 0;
}
.sous_titre p {
	margin: 0;
	font-size: 15px;
}

.follow3{
	margin-left: 25px;
}
